# Database Configuration
MONGODB_URI=mongodb://admin:password@db:27017/play-tab?authSource=admin
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password

# Application Configuration
NODE_ENV=development
TZ=Asia/Tokyo
# In production, set ORIGIN to your domain (e.g., https://example.com)
ORIGIN=http://localhost:5173
PUBLIC_COPYRIGHT_HOLDER=PlayTab

# Certbot Configuration (Production only)
DOMAIN=example.com
EMAIL=admin@example.com

# Mail Configuration
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASS=password
SMTP_FROM=noreply@example.com
SMTP_SECURE=false
SMTP_TLS_REJECT_UNAUTHORIZED=true
SMTP_REQUIRE_TLS=false
